/* css reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-size: 24px;
  font-family: Roboto, sans-serif;
  font-style: Italic;
  font-weight: bold;
}
.header {
  background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week2/banner.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 958px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.container {
  width: 1200px;
  margin: 0 auto;
}
h1 {
  font-size: 80px;
  line-height: 106px;
  margin-bottom: 32px;
}
.header span {
  line-height: 42px;
}
.header p {
  line-height: 36px;
  margin-bottom: 40px;
}
.social-media {
  width: 288px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
.about {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 56px;
}
.title {
  font-size: 64px;
  line-height: 84px;
  text-align: center;
}
.about img {
  display: block;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 20px;
}
.about .intro {
  line-height: 42px;
  padding-bottom: 24px;
}
.about .exp {
  width: 384px;
  border-top: 1px solid #000;
  padding-top: 28px;
  margin: 0 auto;
}
.about .exp li {
  margin-bottom: 28px;
}
.red-circle {
  display: inline-block;
  width: 22px;
  height: 22px;
  background-color: #891818;
  border-radius: 50%;
  margin-right: 16px;
}
.brand {
  background-color: #000;
  color: #fff;
  margin-top: 28px;
  padding-top: 56px;
  padding-bottom: 160px;
  text-align: center;
}
.brand p {
  line-height: 42px;
  margin-bottom: 32px;
  margin-top: 12px;
}
h4 {
  font-size: 20px;
  line-height: 1.5;
}
.brand-list {
  margin-top: 68px;
}
.brand-list ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.brand-list .brand-1 {
  margin-bottom: 40px;
}
.brand-list .brand-2 {
  margin-right: 12px;
}
.brand-list .brand-3 {
  margin-left: 12px;
}
.brand-list img {
  display: block;
}
.works {
  padding-top: 56px;
  text-align: center;
  padding-bottom: 96px;
}
.works img {
  display: block;
  margin-bottom: 16px;
}
.works-list {
  margin-top: 56px;
}
.works-list ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.works-list li {
  margin-bottom: 48px;
}
.works-list span {
  font-size: 20px;
  line-height: 42px;
}
.footer {
  background-color: #000;
  color: #fff;
  padding: 64px 0;
  text-align: center;
}
.contact a {
  text-decoration: none;
  color: #fff;
}
.contact li {
  margin-top: 16px;
}
